@page "{id:Guid}"
@using Shrimply.Models.ViewModels;
@model Shrimply.Pages.Admin.Shrimps.EditModel
@{
}

<div class="container mb-3">
    <h3>Edit Shrimp</h3>
</div>

<partial name="_Notification">

    @if (Model.Shrimp != null)
    {
        <div>
            <div class="container">
                <form method="post">

                    <div class="mb-3">
                        <label class="form-label" for="name">Id</label>
                        <input type="text" class="form-control" id="name" asp-for="Shrimp.Id" readonly required/>
                        <span class="text-danger" asp-validation-for="Shrimp.Id"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" asp-for="Shrimp.Name" required />
                        <span class="text-danger" asp-validation-for="Shrimp.Name"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" id="description" asp-for="Shrimp.Description" required></textarea>
                        <span class="text-danger" asp-validation-for="Shrimp.Description"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="color">Color</label>
                        <input type="text" class="form-control" id="color" asp-for="Shrimp.Color" required />
                        <span class="text-danger" asp-validation-for="Shrimp.Color"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="family">Family</label>
                        <input type="text" class="form-control" id="family" asp-for="Shrimp.Family" required />
                        <span class="text-danger" asp-validation-for="Shrimp.Family"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="featuredImageUpload">Featured Image Upload</label>
                        <input type="file" id="featuredImageUpload" asp-for="FeaturedImage" />

                        @if (Model.Shrimp.FeaturedImageUrl != null)
                        {
                            <img src="@Model.Shrimp.FeaturedImageUrl" id="featuredImageDisplay" style=" width:300px;" />
                        }
                        else
                        {
                            <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
                        }
                        
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="featuredImageUrl">Featured Image Url</label>
                        <input type="text" class="form-control" id="featuredImageUrl" asp-for="Shrimp.FeaturedImageUrl" required />
                        <span class="text-danger" asp-validation-for="Shrimp.FeaturedImageUrl"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="urlHandle">Url Handle</label>
                        <input type="text" class="form-control" id="urlHandle" asp-for="Shrimp.UrlHandle" required />
                        <span class="text-danger" asp-validation-for="Shrimp.UrlHandle"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="publishedDate">Published Date</label>
                        <input type="date" class="form-control" id="publishedDate" asp-for="Shrimp.PublishedDate" required />
                        <span class="text-danger" asp-validation-for="Shrimp.PublishedDate"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="author">Author</label>
                        <input type="text" class="form-control" id="author" asp-for="Shrimp.Author" required />
                        <span class="text-danger" asp-validation-for="Shrimp.Author"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="tags">Tags (comma separated)</label>
                        <input type="text" class="form-control" id="tags" asp-for="Shrimp.TagsString" required />
                        <span class="text-danger" asp-validation-for="Shrimp.TagsString"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-inline" id="isVisible" asp-for="Shrimp.IsVisible" />
                        <label class="form-check-label" for="isVisible">Is Visible?</label>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Edit</button>
                        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>
                    </div>

                </form>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <p>Shrimp not found</p>
        </div>
    }


    @section Scripts {
        <script>
            var editor = new FroalaEditor('#description', {
                imageUploadURL: '/api/images'
            });

            const featuredImageUploadElement = document.getElementById('featuredImageUpload');
            const featuredImageUrl = document.getElementById('featuredImageUrl');
            const featuredImageDisplay = document.getElementById('featuredImageDisplay');

            async function uploadFeaturedImage(e) {
                console.log(e.target.files[0]);

                let data = new FormData();
                data.append('file', e.target.files[0]);

                await fetch('/api/images',
                    {
                        method: 'POST',
                        headers: {
                            'Accept': '*/*',
                        },
                        body: data
                    }).then(response => response.json())
                    .then(result => {
                        featuredImageUrl.value = result.link;
                        featuredImageDisplay.style.display = 'block';
                        featuredImageDisplay.src = result.link;
                    });
            }

            featuredImageUploadElement.addEventListener('change', uploadFeaturedImage)


        </script>
    }
